/* some style */

#app {
    font-family: "Lucida Console", Monaco, monospace;
    line-height: 0.8em;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.command {
    margin: 0.5em;
    width: max-content;
    max-width: 100%;
}

.command:hover {
    color: #00FFFF;
}